$regularSize:14;

$maxWidth:980;

// blues
$blue: #4dbdcb;
$darkBlue: #568387;
$navyBlue: #5580a0;

// grey
$grey: #696969;
$lightGrey:#efefef;

// -----------------------------------------
    // Fonts
// -------------------------------------------
$helvetica: Helvetica, Arial, sans-serif;