$regularSize:14;

$maxWidth:980;

// blues
$blue: #4dbdcb;
$darkBlue: #568387;
$navyBlue: #5580a0;

// grey
$grey: #696969;
$lightGrey:#efefef;

// -----------------------------------------
    // Fonts
// -------------------------------------------
$webfont: 'webfont', Helvetica, Arial, sans-serif;
$webfont_italic: 'webfont_italic', Helvetica, Arial, sans-serif;
$webfont_bold: 'webfont_bold', Helvetica, Arial, sans-serif;
$webfont_bold_italic: 'webfont_bold_italic', Helvetica, Arial, sans-serif;
$webfont_light: 'webfont_light', Helvetica, Arial, sans-serif;
$webfont_italic: 'webfont_italic', Helvetica, Arial, sans-serif;
$webfont_light_italic: 'webfont_light_italic', Helvetica, Arial, sans-serif;
$helvetica: Helvetica, Arial, sans-serif;
$gotham: 'Gotham_SSm_4r', Helvetica, Arial, sans-serif;
$gothamMedium: 'Gotham_SSm_5r', Helvetica, Arial, sans-serif;
$gothamLight: 'Gotham_SSm_3r', Helvetica, Arial, sans-serif;
$gothamBook: 'Gotham_SSm_4r', Helvetica, Arial, sans-serif;
$gothamBold: 'Gotham_SSm_7r', Helvetica, Arial, sans-serif;