.articles{
    li{
        padding:0;
        background:none;
        @include rem("margin-bottom", 15);
        &:nth-child(odd){
            background:none;
        }

        a{
            color:darken($blue, 25%);
            text-decoration:none;

            &:hover, &:focus{
                color:$blue;
            }
        }
    }

    &.videos{
        li{
            @include inline-block();
            @include rem("width", 170);
            @include rem("margin-right", 60);
            text-align:center;

            .title{
                display:block;
                text-align:center;
                text-decoration:none;
                color:darken($blue, 25%);
                @include rem("width", 215);
                @include margin-auto();

                &:hover, &:focus{
                    color:$blue;
                }
            }
        }
    }
}
