header{
    @include rem("padding", 50, 0);
    border-bottom:1px solid $blue;

    h1{
        color:$blue;

        a{
            color:$blue;
            text-decoration:none;

            &:hover, &:focus{
                color:darken($blue, 20%);
            }
        }

        @include breakpoint(460){
            width:80%;
        }
    }
}